# 虚拟环境
rag-env/
venv/
env/

# Python缓存
__pycache__/
*.pyc
*.pyo
*.pyd

# 向量数据库文件
faiss_db/
chroma_db/
milvus_demo.db

# 临时文件/测试数据
*.tmp
*.log
*.pdf
*.docx
*.txt

# Streamlit缓存
.streamlit/